@using KFZ_Konfigurator.Resources.Localization;
@model IEnumerable<KFZ_Konfigurator.ViewModels.PaintViewModel>

@{
    Layout = "~/Views/Shared/_ConfigurationLayout.cshtml";
    ViewBag.Title = LocalizationManager.Localize("PaintsTitle");
    //ViewBag.BackgroundImage = "accessories.png";
}

<h2>@LocalizationManager.Localize("PaintsHeader")</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card col-sm-4 rounded-0">
            <div class="card-header">
                <h5 class="card-title">@Html.DisplayFor(_ => item.Category): @Html.DisplayFor(_ => item.Name)</h5>
                <h6 class="card-subtitle">@Html.DisplayFor(_ => item.Price) EUR</h6>
            </div>
            <div class="card-body">
                <div class="card-text">
                    @Html.DisplayFor(_ => item.Color)
                </div>
            </div>
        </div>
    }
</div>