@using KFZ_Konfigurator.Models;
@using KFZ_Konfigurator.ViewModels;
@using KFZ_Konfigurator.Helper;
@model KFZ_Konfigurator.ViewModels.ConfigurationOverviewPageViewModel

@* Engine Settings *@
<h4>@LocalizationManager.Localize("ConfigurationOverviewView_TechnicalData_Header")</h4>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">@LocalizationManager.Localize("TechnicalData_Transmission")</th>
            <td>@(Model.EngineSetting.Gears + LocalizationManager.Localize("TechnicalData_Transmission_Suffix"))</td>
        </tr>
        <tr>
            <th scope="row">@LocalizationManager.Localize("TechnicalData_Acceleration")</th>
            <td>@Model.EngineSetting.Acceleration s</td>
        </tr>
        <tr>
            <th scope="row">@LocalizationManager.Localize("TechnicalData_TopSpeed")</th>
            <td>@Model.EngineSetting.TopSpeed km/h</td>
        </tr>
        <tr>
            <th scope="row">@LocalizationManager.Localize("TechnicalData_Consumption")</th>
            <td>@Model.EngineSetting.Consumption l/100 km</td>
        </tr>
        <tr>
            <th scope="row">@LocalizationManager.Localize("TechnicalData_Performance")</th>
            <td>@Model.EngineSetting.Engine.Performance kW (@Model.EngineSetting.Engine.PerformancePS PS)</td>
        </tr>
        <tr>
            <th scope="row">CO<sub>2</sub>-@LocalizationManager.Localize("TechnicalData_Emissions")</th>
            <td>@Model.EngineSetting.Emission g/km</td>
        </tr>
        <tr>
            <th scope="row">@LocalizationManager.Localize("TechnicalData_EngineSize")</th>
            <td>@Model.EngineSetting.Engine.Size cm<sup>3</sup></td>
        </tr>
        <tr>
            <th scope="row">@LocalizationManager.Localize("TechnicalData_FuelType")</th>
            <td>@(LocalizationManager.LocalizeCategory<FuelCategory>(Model.EngineSetting.Engine.FuelKind))</td>
        </tr>
    </tbody>
</table>

@if (Model.Accessories.Count() > 0)
{
    @* Accessories *@
    <h4 class="mt-3">@LocalizationManager.Localize("ConfigurationOverviewView_Accessories_Header")</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Accessories.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accessories.First().Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accessories.First().Price)
            </th>
        </tr>

        @foreach (var item in Model.Accessories)
        {
            <tr>
                <td>@Html.DisplayFor(_ => item.Name)</td>
                <td>@(LocalizationManager.LocalizeCategory<AccessoryCategory>(item.Category))</td>
                <td>@Html.DisplayFor(_ => item.Price)</td>
            </tr>
        }
    </table>
}

@* Exterior *@
<h4 class="mt-3">@LocalizationManager.Localize("ConfigurationOverviewView_Exterior_Header")</h4>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">@LocalizationManager.Localize("ConfigurationOverviewView_Paint_Header")</th>
            <td>@(LocalizationManager.LocalizeCategory<PaintCategory>(Model.Paint.Category)) @Html.DisplayFor(_ => Model.Paint.Name)</td>
            <td>@Html.DisplayFor(_ => Model.Paint.Price)</td>
        </tr>
        <tr>
            <th scope="row">@LocalizationManager.Localize("ConfigurationOverviewView_Rims_Header")</th>
            <td>@Html.DisplayFor(_ => Model.Rims.Size) @LocalizationManager.Localize("General_RimSizeUnit")</td>
            <td>@Html.DisplayFor(_ => Model.Rims.Price)</td>
        </tr>
    </tbody>
</table>

<hr />
<p>
    <h4>@LocalizationManager.Localize("ConfigurationOverviewView_BasePrice_Header"): @Html.DisplayFor(_ => Model.BasePrice) </h4>
    <h4>@LocalizationManager.Localize("ConfigurationOverviewView_ExtrasPrice_Header"): @Html.DisplayFor(_ => Model.ExtrasPrice)</h4>
    <h1 class="mt-3 mb-4"> @LocalizationManager.Localize("ConfigurationOverviewView_FinalPrice_Header"): @Html.DisplayFor(_ => Model.FullPrice)</h1>
</p>