@using KFZ_Konfigurator.Models;
@using KFZ_Konfigurator.ViewModels;
@using KFZ_Konfigurator.Helper;
@model KFZ_Konfigurator.ViewModels.ConfigurationOverviewPageViewModel

@{
    Layout = "~/Views/Shared/_ConfigurationLayout.cshtml";
    ViewBag.Title = LocalizationManager.Localize("ConfigurationOverview_Title");
}

@Html.AntiForgeryToken()
<h2>@LocalizationManager.Localize("ConfigurationOverviewHeader")</h2>

@* Engine Settings *@
<h4>@LocalizationManager.Localize("ConfigurationOverview_TechnicalData_Header")</h4>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">@LocalizationManager.Localize("TechnicalData_Transmission")</th>
            <td>@(Model.EngineSetting.Gears + LocalizationManager.Localize("TechnicalData_Transmission_LabelSuffix"))</td>
        </tr>
        <tr>
            <th scope="row">@LocalizationManager.Localize("TechnicalData_Acceleration")</th>
            <td>@Model.EngineSetting.Acceleration s</td>
        </tr>
        <tr>
            <th scope="row">@LocalizationManager.Localize("TechnicalData_TopSpeed")</th>
            <td>@Model.EngineSetting.TopSpeed km/h</td>
        </tr>
        <tr>
            <th scope="row">@LocalizationManager.Localize("TechnicalData_Consumption")</th>
            <td>@Model.EngineSetting.Consumption l/100 km</td>
        </tr>
        <tr>
            <th scope="row">@LocalizationManager.Localize("TechnicalData_Performance")</th>
            <td>@Model.EngineSetting.Engine.Performance kW (@Model.EngineSetting.Engine.PerformancePS PS)</td>
        </tr>
        <tr>
            <th scope="row">CO<sub>2</sub>-@LocalizationManager.Localize("TechnicalData_Emissions")</th>
            <td>@Model.EngineSetting.Emission g/km</td>
        </tr>
        <tr>
            <th scope="row">@LocalizationManager.Localize("TechnicalData_EngineSize")</th>
            <td>@Model.EngineSetting.Engine.Size cm<sup>3</sup></td>
        </tr>
        <tr>
            <th scope="row">@LocalizationManager.Localize("TechnicalData_FuelType")</th>
            <td>@(LocalizationManager.LocalizeEnum<FuelKind>(MiscHelper.EngineKindToFuelKind(Model.EngineSetting.Engine.EngineKind).ToString()))</td>
        </tr>
    </tbody>
</table>

@if (Model.Accessories.Count() > 0)
{
    @* Accessories *@
    <h4 class="mt-3">@LocalizationManager.Localize("ConfigurationOverview_Accessories_Header")</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Accessories.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accessories.First().Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accessories.First().Price)
            </th>
        </tr>

        @foreach (var item in Model.Accessories)
        {
            <tr>
                <td>@Html.DisplayFor(_ => item.Name)</td>
                <td>@(LocalizationManager.LocalizeEnum<AccessoryCategory>(item.Category.ToString()))</td>
                <td>@Html.DisplayFor(_ => item.Price)</td>
            </tr>
        }
    </table>
}

@* Exterior *@
<h4 class="mt-3">@LocalizationManager.Localize("ConfigurationOverview_Exterior_Header")</h4>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">@LocalizationManager.Localize("ConfigurationOverview_Paint_Header")</th>
            <td>@(LocalizationManager.LocalizeEnum<PaintCategory>(Model.Paint.Category.ToString())) @Html.DisplayFor(_ => Model.Paint.Name)</td>
            <td>@Html.DisplayFor(_ => Model.Paint.Price)</td>
        </tr>
        <tr>
            <th scope="row">@LocalizationManager.Localize("ConfigurationOverview_Rims_Header")</th>
            <td>@Html.DisplayFor(_ => Model.Rims.Size) @LocalizationManager.Localize("RimSizeUnit")</td>
            <td>@Html.DisplayFor(_ => Model.Rims.Price)</td>
        </tr>
    </tbody>
</table>

<hr />
<p>
    <h4>@LocalizationManager.Localize("ConfigurationOverview_BasePrice_Header"): <span data-bind="text: formatCurrency(configViewModel.basePrice())"></span></h4>
    <h4>@LocalizationManager.Localize("ConfigurationOverview_ExtrasPrice_Header"): <span data-bind="text: formatCurrency(configViewModel.extrasPrice())"></span></h4>
    <h1 class="mt-3 mb-4">
        @LocalizationManager.Localize("ConfigurationOverview_FinalPrice_Header"): <span data-bind="text: formatCurrency(configViewModel.fullPrice())"></span>
    </h1>
</p>

@* Order *@
<p>
    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#orderCollapse">@LocalizationManager.Localize("ConfigurationOverview_Order_Button")</button>
</p>
<div class="collapse" id="orderCollapse">
    <div class="card card-body">
        <div class="input-group">
            <input type="text" class="form-control"
                   placeholder="@LocalizationManager.Localize("ConfigurationOverview_OrderDescriptionPlaceholder")"
                   data-bind="value: configOVW.configurationDescription" />
            <div class="input-group-append">
                <button class="btn btn-primary" id="placeOrderButton" type="button" data-bind="click: configOVW.placeOrder">
                    @LocalizationManager.Localize("ConfigurationOverview_PlaceOrder_Button")
                </button>
            </div>
        </div>
        <div class="mt-3">
            <div class="alert alert-danger fade show" id="orderFailedAlert" role="alert" hidden>
                Your order could not be placed
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/app/ConfigurationOverviewViewModel.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            let accessories = @Html.Raw(Json.Encode(Model.Accessories));
            let engineSetting = @Html.Raw(Json.Encode(Model.EngineSetting));
            let paint = @Html.Raw(Json.Encode(Model.Paint));
            let rims = @Html.Raw(Json.Encode(Model.Rims));
            let options = {
                antiForgeryToken: getAntiForgeryToken($(document)),
                placeOrderSuccess: function (targetUrl) {
                    window.location.href = targetUrl;
                },
                placeOrderFailure: function () {
                    $('#orderFailedAlert').attr('hidden', false);
                }
            };
            let configOverviewViewModel = new ConfigurationOverviewViewModel("@Html.Encode(Model.ConfigurationLink)", options);
            let configViewModel = new ConfigurationViewModel({ selectedAccessories: accessories, selectedEngineSetting: engineSetting, selectedPaint: paint, selectedRims: rims });

            ko.applyBindings({
                configViewModel: configViewModel,
                configOVW: configOverviewViewModel
            });
        });
    </script>
}
