@using KFZ_Konfigurator.Helper;
@using KFZ_Konfigurator.ViewModels;
@using KFZ_Konfigurator.Views;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ConfigurationViewKind viewKind = ConfigurationViewKind.ModelSelection;
    Type modelType = Model.GetType();
    if (typeof(EngineSettingsPageViewModel).IsAssignableFrom(modelType))
    {
        viewKind = ConfigurationViewKind.EngineSettings;
    }
    else if (typeof(AccessoriesPageViewModel).IsAssignableFrom(modelType))
    {
        viewKind = ConfigurationViewKind.Accessories;
    }
    else if (typeof(ExteriorPageViewModel).IsAssignableFrom(modelType))
    {
        viewKind = ConfigurationViewKind.Exterior;
    }
    else if (typeof(ConfigurationOverviewPageViewModel).IsAssignableFrom(modelType))
    {
        viewKind = ConfigurationViewKind.Overview;
    }

    bool isModelSelection = viewKind == ConfigurationViewKind.ModelSelection;
    string modelHeader = null;
    if (!isModelSelection)
    {
        var activeModel = SessionData.ActiveConfiguration.CarModel;
        if (activeModel == null)
        {
            throw new Exception("Model is not set");
        }
        modelHeader = $"{activeModel.Series} {activeModel.BodyType.ToString()} {activeModel.Year}";
    }
}

@RenderBody()

@if (!isModelSelection)
{
    var activeModel = SessionData.ActiveConfiguration.CarModel;
    @section CartOverview {
        <div class="card rounded-0">
            @*<img class="card-img-top" alt=""*@
            <div class="card-body">
                <a href="@Url.RouteUrl(Constants.Routes.ModelOverview)">
                    <h5 class="card-title">@modelHeader</h5>
                </a>
                <div class="card-text">
                    <div>
                        base price: <span data-bind="text: configViewModel.basePrice"></span>
                    </div>
                    <div>
                        extras: <span data-bind="text: configViewModel.extrasPrice"></span>
                    </div>
                    <div>
                        price: <span data-bind="text: configViewModel.fullPrice"></span>
                    </div>
                </div>
                @if (viewKind != ConfigurationViewKind.Overview)
                {
                    <a href="@Url.RouteUrl(Constants.Routes.CurrentConfigurationOverview)" class="btn btn-primary">@LocalizationManager.Localize("Configuration_GoToOverview")</a>
                }
            </div>
        </div>
    }
}

@section ConfigurationHeader {
    <div class="bg-light">
        <div class="container text-overlap-container">
            <img src="~/Resources/Images/@ViewBag.BackgroundImage" class="img-fluid" />
            @if (!isModelSelection)
            {
                <h2 class="overlap-top-left">@modelHeader</h2>
            }
        </div>
    </div>
    <nav class="navbar bg-dark navbar-dark navbar-expand-md">
        <div class="container @MiscHelper.If(isModelSelection, "invisible")">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarToggleContent">
                <div class="navbar-nav">
                    <a href="@Url.RouteUrl(Constants.Routes.EngineSettings)" class="nav-item nav-link @MiscHelper.If(viewKind == ConfigurationViewKind.EngineSettings, "active")">@LocalizationManager.Localize("EngineSettingsHeader")</a>
                    <a href="@Url.RouteUrl(Constants.Routes.Accessories)" class="nav-item nav-link @MiscHelper.If(viewKind == ConfigurationViewKind.Accessories, "active")">@LocalizationManager.Localize("AccessoriesHeader")</a>
                    <a href="@Url.RouteUrl(Constants.Routes.Exterior)" class="nav-item nav-link @MiscHelper.If(viewKind == ConfigurationViewKind.Exterior, "active")">@LocalizationManager.Localize("ExteriorHeader")</a>
                </div>
            </div>
        </div>
    </nav>
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/app/ConfigurationViewModel.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/app/AjaxHelper.js")"></script>
    @RenderSection("scripts", required: false)
}