@using KFZ_Konfigurator.Helper;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderBody()

@if (ViewBag.IsModelSelection != true)
{
    @section CartOverview {
        <h1>Cart</h1>
    }
}

@section ConfigurationHeader {
    <div class="bg-light">
        <div class="container text-overlap-container">
            <img src="~/Resources/Images/@ViewBag.BackgroundImage" class="img-fluid" />
            <h2 class="overlap-top-left" @Helper.If(ViewBag.IsModelSelection == true, "hidden")>Model</h2>
        </div>
    </div>
    <nav class="navbar bg-dark navbar-dark navbar-expand-md">
        <div class="container @Helper.If(ViewBag.IsModelSelection == true, "invisible")">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle" aria-controls="">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarToggleContent">
                <div class="navbar-nav">
                    <a href="@Url.RouteUrl(Constants.Routes.EngineSettings)" class="nav-item nav-link">Engine</a>
                    <a href="@Url.RouteUrl(Constants.Routes.Accessories)" class="nav-item nav-link">Accessories</a>
                    <a href="@Url.RouteUrl(Constants.Routes.Paints)" class="nav-item nav-link">Paint</a>
                </div>
            </div>
        </div>
    </nav>
}