@{
    var productTitle = LocalizationManager.Localize("General_ProductTitle");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("headerScripts", required: false)
</head>
<body>
    <nav class="navbar bg-light navbar-light navbar-expand-sm fixed-top">
        <div class="container">
            @Html.ActionLink(productTitle, "Index", "Home", null, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarToggleContent">
                <a href="@Url.RouteUrl(Constants.Routes.Home)" class="nav-item nav-link active">@LocalizationManager.Localize("Layout_Home_Link")</a>
                <a href="@Url.RouteUrl(Constants.Routes.OrderList)" class="nav-item nav-link">@LocalizationManager.Localize("Layout_OrderList_Link")</a>
            </div>
        </div>
    </nav>

    @RenderSection("ConfigurationHeader", required: false)

    <div id="app" class="container body-content">
        @Html.AntiForgeryToken()
        <div class="row align-items-md-start">
            <div class="col pt-2">
                @RenderBody()
            </div>
            <div class="col-md-auto sticky-top sticky-top-offset mt-2">
                @RenderSection("CartOverview", required: false)
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @productTitle</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
