@using KFZ_Konfigurator.Models;
@model KFZ_Konfigurator.ViewModels.AccessoriesPageViewModel

@{
    Layout = "~/Views/Shared/_ConfigurationLayout.cshtml";
    ViewBag.Title = LocalizationManager.Localize("AccessoriesTitle");
    ViewBag.BackgroundImage = "engine.png";

    var categories = Enum.GetNames(typeof(AccessoryCategory));
}

@Html.AntiForgeryToken()
<h2>@LocalizationManager.Localize("AccessoriesHeader")</h2>

<div>
    <nav>
        <div class="nav nav-tabs" role="tablist">
            @foreach (var item in categories)
            {
                bool isActive = item == categories.First();
                var activeClassString = isActive ? "active" : null;
                var selectedValueString = isActive ? "true" : "false";
                <a class="nav-item nav-link @activeClassString" data-toggle="tab" role="tab" href="@($"#nav-{item}")">
                    @(LocalizationManager.LocalizeEnum<AccessoryCategory>(item))
                </a>
            }
        </div>
    </nav>

    <div class="tab-content">
        @foreach (var curCategory in categories)
        {
            string activeClassesString = curCategory == categories.First() ? "show active" : null;
            <div class="tab-pane fade @activeClassesString" role="tabpanel" id="@($"nav-{curCategory}")">
                @foreach (var item in Model.Accessories.Where(cur => cur.Category.ToString() == curCategory))
                {
                    <div class="card col-sm-4 rounded-0">
                        <div class="card-header">
                            <input type="checkbox" data-bind="checked: $root.accessoriesById[@item.Id].isSelected" />
                            <h5 class="card-title">@Html.DisplayFor(_ => item.Name)</h5>
                            <h6 class="card-subtitle">@Html.DisplayFor(_ => item.Price)</h6>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                @Html.DisplayFor(_ => item.SubCategory)
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var accessories = @Html.Raw(Json.Encode(Model.Accessories));
        var selectedEngineSetting = @Html.Raw(Json.Encode(Model.SelectedEngineSetting));
        var selectedPaint = @Html.Raw(Json.Encode(Model.SelectedPaint));
        var selectedRims = @Html.Raw(Json.Encode(Model.SelectedRims));
        var viewModel = new ConfigurationViewModel({ accessories: accessories, selectedEngineSetting: selectedEngineSetting, selectedPaint: selectedPaint, selectedRims: selectedRims });

        $(document).ready(function () {
            ko.applyBindings(viewModel);
        });

        $(window).on("beforeunload", function () {
            var antiForgeryToken = getAntiForgeryToken($(document));
            var selectedAccessories = viewModel.selectedAccessoryIds;
            saveViewModel("/Accessories/SetSelectedAccessories", selectedAccessories.length > 0 ? ko.toJSON(selectedAccessories) : null, antiForgeryToken)
                .done((data) => {
                    console.log("success: " + JSON.stringify(data));
                    //alert("worked");
                    //TODO
                })
                .fail((data) => {
                    console.log("fail: " + JSON.stringify(data));
                    //alert("failed");
                    //TODO
                });
        });
    </script>
}