@model KFZ_Konfigurator.ViewModels.ExteriorPageViewModel

@{
    Layout = "~/Views/Shared/_ConfigurationLayout.cshtml";
    ViewBag.Title = LocalizationManager.Localize("ExteriorTitle");
    //ViewBag.BackgroundImage = "accessories.png";
}

@Html.AntiForgeryToken()
<h2>@LocalizationManager.Localize("PaintsHeader")</h2>

<div class="row">
    @foreach (var item in Model.Paints)
    {
        <div class="card col-sm-4 rounded-0">
            <div class="card-header">
                <input type="radio" name="paintOptions" value="@item.Id" data-bind="checked: $root.selectedPaintId" />
                <h5 class="card-title">@Html.DisplayFor(_ => item.Category): @Html.DisplayFor(_ => item.Name)</h5>
                <h6 class="card-subtitle">@Html.DisplayFor(_ => item.Price)</h6>
            </div>
            <div class="card-body">
                <div class="card-text">
                    @Html.DisplayFor(_ => item.Color)
                </div>
            </div>
        </div>
    }
</div>

<h2>@LocalizationManager.Localize("RimsHeader")</h2>
<div class="row">
    @foreach (var item in Model.Rims)
    {
        <div class="card col-sm-4 rounded-0">
            <div class="card-header">
                <input type="radio" name="rimOptions" value="@item.Id" data-bind="checked: $root.selectedRimsId" />
                <h5 class="card-title">@Html.DisplayFor(_ => item.Size)</h5>
            </div>
            <div class="card-body">
                <div class="card-text">
                    @Html.DisplayFor(_ => item.Price)
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script type="text/javascript">
        var selectedAccessories = @Html.Raw(Json.Encode(Model.SelectedAccessories));
        var selectedEngineSetting = @Html.Raw(Json.Encode(Model.SelectedEngineSetting));
        var paints = @Html.Raw(Json.Encode(Model.Paints));
        var rims = @Html.Raw(Json.Encode(Model.Rims));
        var viewModel = new ConfigurationViewModel({ paints: paints, rims: rims, selectedAccessories: selectedAccessories, selectedEngineSetting: selectedEngineSetting });

        $(document).ready(function () {
            ko.applyBindings(viewModel);
        });

        $(window).on("beforeunload", function () {
            var antiForgeryToken = getAntiForgeryToken($(document));
            var sendData = { paintId: viewModel.selectedPaintId(), rimId: viewModel.selectedRimsId() };
            saveViewModel("/Exterior/SetSelectedPaintAndRim", null, antiForgeryToken, sendData)
                .done((data) => {
                    console.log("success: " + JSON.stringify(data));
                    //alert("worked");
                    //TODO
                })
                .fail((data) => {
                    console.log("fail: " + JSON.stringify(data));
                    //alert("failed");
                    //TODO
                });
        });
    </script>
}