@using KFZ_Konfigurator.Models;
@model KFZ_Konfigurator.ViewModels.ExteriorPageViewModel

@{
    Layout = "~/Views/Shared/_ConfigurationLayout.cshtml";
    ViewBag.Title = LocalizationManager.Localize("ExteriorTitle");
    //ViewBag.BackgroundImage = "accessories.png";

    var paintCategories = Enum.GetNames(typeof(PaintCategory));
}

@Html.AntiForgeryToken()
<h2>@LocalizationManager.Localize("PaintsHeader")</h2>

<div class="container">
    @foreach (var category in paintCategories)
    {
        var currentPaints = Model.Paints.Where(cur => cur.Category.ToString() == category).ToList();
        <div class="row mt-3">
            <h5>@(LocalizationManager.LocalizeEnum<PaintCategory>(category)) (@Html.DisplayFor(_ => @currentPaints.First().Price))</h5>
        </div>
        <div class="row">
            @foreach (var item in currentPaints)
            {
                <div class="paintContainer" data-bind="click: function() { configViewModel.selectPaint(@item.Id) }">
                    <input type="radio" name="paintOptions" value="@item.Id"
                           data-bind="checked: configViewModel.selectedPaintId, css: { checked: configViewModel.selectedPaintId() == @item.Id }" />
                    <figure class="figure m-1">
                        <img style="background: @item.Color" class="border-0" />
                        <figcaption class="figure-caption">@Html.DisplayFor(_ => item.Name)</figcaption>
                    </figure>
                </div>
            }
        </div>
    }
</div>
<p />
<h2>@LocalizationManager.Localize("RimsHeader")</h2>
<table class="table">
    @foreach (var item in Model.Rims)
    {
        <tr>
            <th>
                <input type="radio" name="rimOptions" class="mr-2" value="@item.Id" data-bind="checked: configViewModel.selectedRimsId" />
                <label>@Html.DisplayFor(_ => item.Size) @LocalizationManager.Localize("RimSizeUnit")</label>
            </th>
            <td>
                @Html.DisplayFor(_ => item.Price)
            </td>
        </tr>
        @*<div class="card col-sm-4 rounded-0">
                <div class="card-header">
                    <input type="radio" name="rimOptions"  />
                    <h5 class="card-title">@Html.DisplayFor(_ => item.Size)</h5>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        @Html.DisplayFor(_ => item.Price)
                    </div>
                </div>
            </div>*@
    }
</table>

@section scripts {
    <script type="text/javascript">
        let selectedAccessories = @Html.Raw(Json.Encode(Model.SelectedAccessories));
        let selectedEngineSetting = @Html.Raw(Json.Encode(Model.SelectedEngineSetting));
        let paints = @Html.Raw(Json.Encode(Model.Paints));
        let rims = @Html.Raw(Json.Encode(Model.Rims));
        let viewModel = new ConfigurationViewModel({ paints: paints, rims: rims, selectedAccessories: selectedAccessories, selectedEngineSetting: selectedEngineSetting });

        $(document).ready(function () {
            ko.applyBindings({ configViewModel: viewModel });
        });

        $(window).on('beforeunload', function () {
            let antiForgeryToken = getAntiForgeryToken($(document));
            let sendData = { paintId: viewModel.selectedPaintId(), rimId: viewModel.selectedRimsId() };
            saveViewModel('/Exterior/SetSelectedPaintAndRim', null, antiForgeryToken, sendData)
                .fail((error) => {
                    console.log('failed to set selected paint and rims: ' + error.responseText + ' (' + error.statusText + ')');
                    //TODO show alert?
                });
        });
    </script>
}