@model IEnumerable<KFZ_Konfigurator.ViewModels.CarModelViewModel>

@{
    Layout = "~/Views/Shared/_ConfigurationLayout.cshtml";
    ViewBag.Title = "Model";
    ViewBag.BackgroundImage = "carConfiguration.png";
}

@Html.AntiForgeryToken()
<h2>@LocalizationManager.Localize("ModelHeader")</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card col-sm-4 rounded-0">
            <div class="card-header">
                <h5 class="card-title">@Html.DisplayFor(_ => item.Series) @Html.DisplayFor(_ => item.BodyType) @Html.DisplayFor(_ => item.Year)</h5>
                <h6 class="card-subtitle">@LocalizationManager.Localize("from") @Html.DisplayFor(_ => item.BaseSettings.Price)</h6>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <div class="row">
                        @LocalizationManager.Localize(nameof(item.BaseSettings.Consumption)): @Html.DisplayFor(_ => item.BaseSettings.Consumption) l/100 km
                    </div>
                    <div class="row">
                        @LocalizationManager.Localize(nameof(item.BaseSettings.Emission)): @Html.DisplayFor(_ => item.BaseSettings.Emission) g/km
                    </div>
                </div>
                <a href="@Url.RouteUrl(Constants.Routes.EngineSettings, new { id = item.Id})" onclick="setCarModel(@item.Id, this.href, event)" class="btn btn-primary">@LocalizationManager.Localize("Select")</a>
            </div>
        </div>
    }
</div>

@section scripts {
    <script type="text/javascript">
        function setCarModel(id, targetUrl, e) {
            e.preventDefault();
            var antiForgeryToken = getAntiForgeryToken($(document));
            saveViewModel("/Model/SetCarModel", id, antiForgeryToken)
                .done((data) => {
                    window.location.href = targetUrl;
                })
                .fail((data) => {
                    console.log("fail: " + JSON.stringify(data));
                    //alert("failed");
                    //TODO
                });
        };
    </script>
}