@using KFZ_Konfigurator.Helper;
@using KFZ_Konfigurator.Resources.Localization;

@model KFZ_Konfigurator.ViewModels.ViewModelSelection<KFZ_Konfigurator.ViewModels.EngineSettingsViewModel>

@{
    Layout = "~/Views/Shared/_ConfigurationLayout.cshtml";
    ViewBag.Title = LocalizationManager.Localize("EngineSettingsTitle");
    ViewBag.BackgroundImage = "engine.png";
}

<h2>@LocalizationManager.Localize("EngineSettingsHeader")</h2>

<div class="list-group">

    @foreach (var item in Model.Items)
    {
        <a class="list-group-item list-group-item-light list-group-item-action rounded-0 d-flex align-items-lg-center @Helper.If(item == Model.Items.First(), "active")" data-toggle="list">
            <div class="flex-column w-100 align-items-lg-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@($"{Html.DisplayFor(_ => item.Engine.Liter)} {Html.DisplayFor(_ => item.Engine.EngineKind)} {Html.DisplayFor(_ => item.Gears)}-{LocalizationManager.Localize("Gears")}")</h5>
                    <h5 class="mb-1">@Html.DisplayFor(_ => item.Price)</h5>
                </div>
                <div class="mt-2 w-100 d-flex justify-content-between">
                    <span>
                        <img src="~/Resources/Images/acceleration.svg" class="indicatior-icon" title="Acceleration" />
                        @Html.DisplayFor(_ => item.Acceleration) s
                    </span>
                    <span>
                        <img src="~/Resources/Images/consumption.svg" class="indicatior-icon" title="Consumption" />
                        @Html.DisplayFor(_ => item.Consumption) l/100 km
                    </span>
                    <span>
                        <img src="~/Resources/Images/performance.svg" class="indicatior-icon" title="Performance" />
                        @Html.DisplayFor(_ => item.Engine.Performance) kW (@Html.DisplayFor(_ => item.Engine.PerformancePS) PS)
                    </span>
                    <span>
                        <img src="~/Resources/Images/emissions.svg" class="indicatior-icon" title="Emissions" />
                        @Html.DisplayFor(_ => item.Emission) g/km
                    </span>
                    <span>
                        <img src="~/Resources/Images/topSpeed.svg" class="indicatior-icon" title="Top Speed" />
                        @Html.DisplayFor(_ => item.TopSpeed) km/h
                    </span>
                    <span>
                        <img src="~/Resources/Images/engineSize.svg" class="indicatior-icon" title="Engine Size" />
                        @Html.DisplayFor(_ => item.Engine.Size) cm<sup>3</sup>
                    </span>
                </div>
            </div>
        </a>
    }
</div>
