@using KFZ_Konfigurator.Helper;
@model KFZ_Konfigurator.ViewModels.EngineSettingsPageViewModel

@{
    Layout = "~/Views/Shared/_ConfigurationLayout.cshtml";
    ViewBag.Title = LocalizationManager.Localize("EngineSettingsTitle");
    ViewBag.BackgroundImage = "engine.png";
}

@Html.AntiForgeryToken()
<h2>@LocalizationManager.Localize("EngineSettingsHeader")</h2>

<div class="list-group">

    @foreach (var item in Model.EngineSettings)
    {
        <a class="list-group-item list-group-item-light list-group-item-action rounded-0 d-flex align-items-lg-center @Helper.If(item.IsSelected, "active")"
           data-toggle="list"
           data-bind="click: function() { settingsSelectedClick(@item.Id) } ">
            <div class="flex-column w-100 align-items-lg-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@($"{Html.DisplayFor(_ => item.Engine.Liter)} {Html.DisplayFor(_ => item.Engine.EngineKind)} {Html.DisplayFor(_ => item.Gears)}-{LocalizationManager.Localize("Gears")}")</h5>
                    <h5 class="mb-1">@Html.DisplayFor(_ => item.Price)</h5>
                </div>
                <div class="mt-2 w-100 d-flex justify-content-between">
                    <span>
                        <img src="~/Resources/Images/acceleration.svg" class="indicatior-icon" title="Acceleration" />
                        @Html.DisplayFor(_ => item.Acceleration) s
                    </span>
                    <span>
                        <img src="~/Resources/Images/consumption.svg" class="indicatior-icon" title="Consumption" />
                        @Html.DisplayFor(_ => item.Consumption) l/100 km
                    </span>
                    <span>
                        <img src="~/Resources/Images/performance.svg" class="indicatior-icon" title="Performance" />
                        @Html.DisplayFor(_ => item.Engine.Performance) kW (@Html.DisplayFor(_ => item.Engine.PerformancePS) PS)
                    </span>
                    <span>
                        <img src="~/Resources/Images/emissions.svg" class="indicatior-icon" title="Emissions" />
                        @Html.DisplayFor(_ => item.Emission) g/km
                    </span>
                    <span>
                        <img src="~/Resources/Images/topSpeed.svg" class="indicatior-icon" title="Top Speed" />
                        @Html.DisplayFor(_ => item.TopSpeed) km/h
                    </span>
                    <span>
                        <img src="~/Resources/Images/engineSize.svg" class="indicatior-icon" title="Engine Size" />
                        @Html.DisplayFor(_ => item.Engine.Size) cm<sup>3</sup>
                    </span>
                </div>
            </div>
        </a>
    }
</div>

@section scripts {
    <script type="text/javascript">
        var engineSettings = @Html.Raw(Json.Encode(Model.EngineSettings));
        var selectedAccessories = @Html.Raw(Json.Encode(Model.SelectedAccessories));
        var selectedPaint = @Html.Raw(Json.Encode(Model.SelectedPaint));
        var selectedRims = @Html.Raw(Json.Encode(Model.SelectedRims));
        var viewModel = new ConfigurationViewModel({ engineSettings: engineSettings, selectedAccessories: selectedAccessories, selectedPaint: selectedPaint, selectedRims: selectedRims });

        $(document).ready(function () {
            ko.applyBindings(viewModel);
        });

        $(window).on("beforeunload", function () {
            var antiForgeryToken = getAntiForgeryToken($(document));
            saveViewModel("/EngineSettings/SetSelectedEngineSettings", viewModel.selectedEngineId, antiForgeryToken)
                .done((data) => {
                    console.log("success: " + JSON.stringify(data));
                    //alert("worked");
                    //TODO
                })
                .fail((data) => {
                    console.log("fail: " + JSON.stringify(data));
                    //alert("failed");
                    //TODO
                });
        });
    </script>
}